@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
@apply bg-zinc-100
}

/* #region fonts*/

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* #endregion */

body {
  font-family: 'Poppins', sans-serif;
  
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.sidebar-item{
  @apply w-12 h-12 p-2 rounded bg-zinc-50 bg-opacity-0 text-gray-700 flex justify-center items-center  transition-all
  hover:bg-opacity-90 hover:shadow-sm hover:text-teal-500
  focus:bg-opacity-90 focus:shadow-sm outline-none
}


.task-card{
  @apply flex flex-col 
  bg-zinc-100 rounded-md p-4 w-auto max-h-64 border border-zinc-200
  hover:shadow-lg 
  transition-all
  lg:max-w-xs 
  cursor-pointer
}

.modal{
  @apply bg-white p-4 rounded-md w-80 h-fit
}
.seperator{
  @apply border-t border-gray-300 my-4
}