@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
@apply bg-slate-100
}


body {
  font-family: 'Poppins', sans-serif;
  
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.sidebar-item{
  @apply w-12 h-12 p-2 rounded bg-slate-50 bg-opacity-0 text-slate-700 flex justify-center items-center  transition-all
  hover:bg-opacity-90 hover:shadow-sm hover:text-teal-500
  focus:bg-opacity-90 focus:shadow-sm outline-none
}



.modal{
  @apply bg-white p-4 rounded-md w-80 h-fit
}
.seperator{
  @apply border-t border-slate-300 my-4
}

.swal-modal{
  background-color: rgb(226 232 240);
  border-radius: 8px;
}

.swal-button {
  @apply bg-indigo-500 hover:brightness-95 rounded-lg
}
.swal-button--confirm {
  @apply bg-indigo-500 hover:brightness-95 rounded-lg
}


