


.project-radio{
    height: 20px;
    width: 20px;
    border-width: 4px;
    border-radius: 50%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.purple{
    border-color:  rgb(99 102 241)
}
.purple:hover{
    background-color:  rgba(99, 102, 241, 40%);
}
.purple-active{
    background-color:  rgb(99, 102, 241);
}

.blue{
    /*@apply bg-blue-500*/
    border-color:  rgb(59, 130, 246)
}
.blue:hover{
    background-color:  rgba(59, 130, 246, 40%);
}
.blue-active{
    background-color:  rgb(59, 130, 246);
}


.cyan{
    /*@apply bg-cyan-500*/
    border-color:  rgb(6 182 212)
}
.cyan:hover{
    background-color:  rgba(6, 182, 212, 40%);
}
.cyan-active{
    background-color:  rgb(6 182 212);
}


.green{
    border-color:  rgb(34 197 94)
}
.green:hover{
    background-color:  rgba(34, 197, 94, 40%);
}
.green-active{
    background-color:  rgb(34 197 94);
}


.yellow{
    border-color:  rgb(234 179 8)
}
.yellow:hover{
    background-color:  rgba(234, 179, 8, 40%);
}
.yellow-active{
    background-color:  rgb(234 179 8);
}


.orange{
    border-color:  rgb(249 115 22)
}
.orange:hover{
    background-color:  rgba(249, 115, 22, 40%);
}
.orange-active{
    background-color:  rgb(249 115 22);
}

