.task-check .check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .task-check .check svg {
    position: relative;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    @apply stroke-slate-500
  }
  
  .task-check .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .task-check .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  
  .task-check .check:hover:before {
    opacity: 1;
  }
  
  .task-check .check:hover svg {
    @apply stroke-lime-500
  }
  
  .task-check input[type="checkbox"]:checked + .check svg {
    @apply stroke-lime-500
  }
  
  .task-check input[type="checkbox"]:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  .task-check input[type="checkbox"]:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }